<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SixGPT - Course Works - Assignments </title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css" type="text/css" />
    <link rel="stylesheet" href="css/templatemo-style.css">

</head>

<body>



    <li data-page-no="6" class="px-3">
        <!-- Image Carousel -->
        <div class="about">

            <div class="mx-auto tm-border-top gallery-slider">




                <figure class="effect-julia item">
                    <img src="img/video.png" alt="Image" height="320px" width="240px">
                    <figcaption>
                        <div>
                            <p>Click to View The Component Assembly Video</p>
                        </div>

                        <a href="https://drive.google.com/file/d/1uMPYXs4zXTeMyRs0JjRNNAKuSzmiID2A/preview"
                            target="_blank">View
                            more</a>
                    </figcaption>
                    <h6>Component Assembly <br> Video</h6>
                </figure>


                <figure class="effect-julia item">
                    <img src="img/IMG_20230326_232650.jpg" alt="Image" height="320px" width="240px">
                    <figcaption>
                        <div>
                            <p>Click to View The Component Assembled Picture in HD</p>
                        </div>

                        <a href="img/IMG_20230326_232650.jpg" target="_blank">View
                            more</a>
                    </figcaption>
                    <h6>Component Assembled <br> Picture</h6>
                </figure>




            </div>

    </li>


    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>

</html>