body {
  background-color: rgb(0, 3, 12);
  display: grid;
  align-items: center;
}

b,
strong {
  color: rgb(255, 80, 80);
}

.Photo_and_intro {
  display: flex;
}

.photo {
  margin-top: 100px;
}

.about_me {
  color: white;
  margin-top: 100px;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 2;
  font-size: 25px;

}

.fields_projects {
  color: white;
  margin-top: 100px;
  line-height: 2;
  font-size: 25px;
  margin-bottom: -50px;
  margin-left: 15px;
}

@keyframes example {
  0% {
    background-color: rgba(255, 255, 255, 0.248);
  }

  25% {
    background-color: rgba(255, 255, 255, 0.172);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.096);
  }

  75% {
    background-color: rgba(236, 236, 236, 0.076);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.082);
  }
}






.nav_bar {
  display: flex;
  background-color: rgb(54, 54, 54);

}

.navbar-brand {
  border-radius: 50%;
  margin-right: 5px;
}

a {
  color: rgb(140, 121, 206);
  margin-right: 100px;


}

/* Image Slider*/
.middle {
  margin-top: 100px;

  background-color: #070a0c;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.carousel-container {
  width: 400px;
  height: 420px;

  margin: 0 auto;

}

.navigation .next {
  margin-top: 200px;
  position: absolute;
  z-index: 10;
  font-size: 25px;
  right: 10px;

  font-weight: 700;
}

.navigation .prev {
  margin-top: 200px;
  position: absolute;
  z-index: 10;
  font-size: 25px;
  left: 10px;
  font-weight: 700;
}

.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

.carousel {
  margin-top: 20px;
  transition: all 0.3s ease;

}

.carousel img {
  width: 100%;
  transition: all 0.3s ease;

}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  height: 35px;
}

.item {
  position: absolute;
  display: none;
}

.main {
  display: block;
}

.bottom {
  margin-top: 100px;
  margin-right: 20px;
}

.footer {

  margin-top: 100px;
  background-color: rgb(158, 245, 250);
  opacity: 50%;
  text-align: center;

}

/* hoover*/
.item:hover {
  transform: scale(1.5);
}